<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
</head>
<body>
    <h1>Welcome to Flask tutorial. Hope you find it useful</h1>
    <form action="/submit" method="post" >
        <label for="science">Science:</label>
        <input type="text" id="science" name="science" value="0"><br>

        <label for="maths">Maths:</label>
        <input type="text" id="maths" name="maths" value="0"><br>

        <label for="C">C:</label>
        <input type="text" id="C" name="C" value="0"><br>

        <label for="ds">Science:</label>
        <input type="text" id="ds" name="ds" value="0"><br>

        <input type="submit" name="Submit" id="submit" value="submit" onclick="go()">
    </form>
    <h2>If you click submit the page will redirect to page called '/submit'</h2>
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
</body>
</html>